StateMachine.json
{
  "Comment": "State machine to process PDF files",
  "StartAt": "SplitPDF",
  "States": {
    "SplitPDF": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:510343462926:function:SplitPDF",
      "Next": "CheckSplitResult",
      "Parameters": {
        "bucket.$": "$.bucket",
        "key.$": "$.key",
        "chunks_dir.$": "$.chunks_dir",
        "pdf_id.$": "$.pdf_id",
        "client_id.$": "$.client_id",
        "is_pdf_chat.$": "$.is_pdf_chat"
      },
      "ResultPath": "$.splitResult",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "FailureHandler"
        }
      ]
    },
    "CheckSplitResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.splitResult.statusCode",
          "NumericEquals": 200,
          "Next": "MapState"
        }
      ],
      "Default": "FailureHandler"
    },
    "MapState": {
      "Type": "Map",
      "ItemsPath": "$.splitResult.chunk_keys",
      "MaxConcurrency": 2,
      "Parameters": {
        "bucket.$": "$.splitResult.bucket",
        "chunk_key.$": "$$.Map.Item.Value",
        "embeddings_dir.$": "$.embeddings_dir",
        "pdf_id.$": "$.pdf_id",
        "client_id.$": "$.client_id",
        "is_pdf_chat.$": "$.is_pdf_chat"
      },
      "Iterator": {
        "StartAt": "GenerateEmbeddings",
        "States": {
          "GenerateEmbeddings": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:510343462926:function:GenerateEmbeddings",
            "Next": "StoreEmbeddings",
            "Parameters": {
              "bucket.$": "$.bucket",
              "chunk_key.$": "$.chunk_key",
              "embeddings_dir.$": "$.embeddings_dir",
              "pdf_id.$": "$.pdf_id",
              "client_id.$": "$.client_id",
              "is_pdf_chat.$": "$.is_pdf_chat"
            },
            "ResultPath": "$.embeddingResult",
            "Retry": [
              {
                "ErrorEquals": [
                  "States.TaskFailed"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 2,
                "BackoffRate": 2
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "ResultPath": "$.error",
                "Next": "EmbeddingFailureHandler"
              }
            ]
          },
          "StoreEmbeddings": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:510343462926:function:StoreEmbeddings",
            "End": true,
            "Parameters": {
              "bucket.$": "$.embeddingResult.bucket",
              "embedding_key.$": "$.embeddingResult.embedding_key",
              "pdf_id.$": "$.pdf_id",
              "client_id.$": "$.client_id",
              "is_pdf_chat.$": "$.is_pdf_chat"
            },
            "ResultPath": "$.storeResult",
            "Retry": [
              {
                "ErrorEquals": [
                  "States.TaskFailed"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 2,
                "BackoffRate": 2
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "ResultPath": "$.error",
                "Next": "EmbeddingFailureHandler"
              }
            ]
          },
          "EmbeddingFailureHandler": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:510343462926:function:FailureNotification",
            "Parameters": {
              "pdf_id.$": "$.pdf_id",
              "client_id.$": "$.client_id",
              "error.$": "States.Format('Error in embedding process: {}', $.error)",
              "is_pdf_chat.$": "$.is_pdf_chat"
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.mapResult",
      "End": true
    },
    "FailureHandler": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:510343462926:function:FailureNotification",
      "Parameters": {
        "pdf_id.$": "$.pdf_id",
        "client_id.$": "$.client_id",
        "error.$": "States.Format('Error in SplitPDF: {}', $.splitResult.body)",
        "is_pdf_chat.$": "$.is_pdf_chat"
      },
      "End": true
    }
  }
}