StateMachine.json
{
  "Comment": "State machine to process PDF files and update Lex bot session",
  "StartAt": "SplitPDF",
  "States": {
    "SplitPDF": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:510343462926:function:SplitPDF",
      "Next": "MapState",
      "Parameters": {
        "bucket.$": "$.bucket",
        "key.$": "$.key",
        "chunks_dir.$": "$.chunks_dir",
        "pdf_id.$": "$.pdf_id",
        "client_id.$": "$.client_id",
        "is_pdf_chat.$": "$.is_pdf_chat"
      },
      "ResultPath": "$.splitResult",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailureHandler"
        }
      ]
    },
    "MapState": {
      "Type": "Map",
      "ItemsPath": "$.splitResult.chunk_keys",
      "MaxConcurrency": 2,
      "Parameters": {
        "bucket.$": "$.splitResult.bucket",
        "chunk_key.$": "$$.Map.Item.Value",
        "embeddings_dir.$": "$.embeddings_dir",
        "pdf_id.$": "$.pdf_id",
        "client_id.$": "$.client_id",
        "is_pdf_chat.$": "$.is_pdf_chat"
      },
      "Iterator": {
        "StartAt": "GenerateEmbeddings",
        "States": {
          "GenerateEmbeddings": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:510343462926:function:GenerateEmbeddings",
            "Next": "StoreEmbeddings",
            "Parameters": {
              "bucket.$": "$.bucket",
              "chunk_key.$": "$.chunk_key",
              "embeddings_dir.$": "$.embeddings_dir",
              "pdf_id.$": "$.pdf_id",
              "client_id.$": "$.client_id",
              "is_pdf_chat.$": "$.is_pdf_chat"
            },
            "ResultPath": "$.embeddingResult",
            "Retry": [
              {
                "ErrorEquals": [
                  "States.TaskFailed"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 2,
                "BackoffRate": 2
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "EmbeddingFailureHandler"
              }
            ]
          },
          "StoreEmbeddings": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:510343462926:function:StoreEmbeddings",
            "End": true,
            "Parameters": {
              "bucket.$": "$.embeddingResult.bucket",
              "embedding_key.$": "$.embeddingResult.embedding_key",
              "pdf_id.$": "$.pdf_id",
              "client_id.$": "$.client_id",
              "is_pdf_chat.$": "$.is_pdf_chat"
            },
            "ResultPath": "$.storeResult",
            "Retry": [
              {
                "ErrorEquals": [
                  "States.TaskFailed"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 2,
                "BackoffRate": 2
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "EmbeddingFailureHandler"
              }
            ]
          },
          "EmbeddingFailureHandler": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:510343462926:function:FailureNotification",
            "Parameters": {
              "pdf_id.$": "$.pdf_id",
              "client_id.$": "$.client_id",
              "error.$": "States.StringToJson($.error)"
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.mapResult",
      "Next": "NotifyLexBot"
    },
    "NotifyLexBot": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:510343462926:function:UpdateLexSession",
      "Parameters": {
        "botName": "${PDFChatAgent}",
        "botAlias": "${pdfchatagent}",
        "userId.$": "$.client_id",
        "inputText": "notify_pdf_processing_complete",
        "sessionAttributes": {
          "pdf_id.$": "$.pdf_id",
          "client_id.$": "$.client_id",
          "is_pdf_chat.$": "States.StringToJson(States.Format('{}', $.is_pdf_chat))",
          "processing_complete": "true"
        }
      },
      "ResultPath": "$.lexNotificationResult",
      "End": true
    },
    "FailureHandler": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:510343462926:function:FailureNotification",
      "Parameters": {
        "pdf_id.$": "$.pdf_id",
        "client_id.$": "$.client_id",
        "error.$": "States.StringToJson($.error)"
      },
      "End": true
    }
  }
}